
.App{
display: flex;
height: 100vh;
justify-content: center;

.container{
    width: 400px;
    height: 400px;
    border: 2px solid black;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    .header{
        height: 30px;
        background: darkolivegreen;
        text-align: center;
        padding: 10px;
    }
    .inputContainer{
        width: 100%;
        position: relative;
        margin-top: 25%;
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }
    .btn{
        text-align: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 30px;
    }
}
}

$desk: 100 / 1920;
$mob: 100 / 375;

input[type="text"],input[type="password"] {
  width: 354 * $desk + vw;
  padding-bottom: 8 * $desk + vw;
  //   margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #707070;
  line-height: 35 * $desk + vw;
  font-size: 21 * $desk + vw;
  margin-bottom: 48.5 * $desk + vw;
  outline: none;
  @media only screen and (max-width: 800px) {
    font-size: 13 * $mob + vw;
    width: 251 * $mob + vw;
    margin-bottom: 22 * $mob + vw;
    padding-bottom: 12 * $mob + vw;
  }
}

::placeholder {
  color: black;
  font-size: 21 * $desk + vw;
  font-family: Montserrat-Medium;
  line-height: 35 * $desk + vw;
  @media only screen and (max-width: 800px) {
    line-height: 13 * $mob + vw;
    font-size: 13 * $mob + vw;
  }
}
