.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .container {
  width: 400px;
  height: 400px;
  border: 2px solid black;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.App .container .header {
  height: 30px;
  background: darkolivegreen;
  text-align: center;
  padding: 10px;
}

.App .container .inputContainer {
  width: 100%;
  position: relative;
  margin-top: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App .container .btn {
  text-align: center;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100px;
  height: 30px;
}

input[type="text"], input[type="password"] {
  width: 18.4375vw;
  padding-bottom: 0.41667vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #707070;
  line-height: 1.82292vw;
  font-size: 1.09375vw;
  margin-bottom: 2.52604vw;
  outline: none;
}

@media only screen and (max-width: 800px) {
  input[type="text"], input[type="password"] {
    font-size: 3.46667vw;
    width: 66.93333vw;
    margin-bottom: 5.86667vw;
    padding-bottom: 3.2vw;
  }
}

::-webkit-input-placeholder {
  color: black;
  font-size: 1.09375vw;
  font-family: Montserrat-Medium;
  line-height: 1.82292vw;
}

:-ms-input-placeholder {
  color: black;
  font-size: 1.09375vw;
  font-family: Montserrat-Medium;
  line-height: 1.82292vw;
}

::-ms-input-placeholder {
  color: black;
  font-size: 1.09375vw;
  font-family: Montserrat-Medium;
  line-height: 1.82292vw;
}

::placeholder {
  color: black;
  font-size: 1.09375vw;
  font-family: Montserrat-Medium;
  line-height: 1.82292vw;
}

@media only screen and (max-width: 800px) {
  ::-webkit-input-placeholder {
    line-height: 3.46667vw;
    font-size: 3.46667vw;
  }
  :-ms-input-placeholder {
    line-height: 3.46667vw;
    font-size: 3.46667vw;
  }
  ::-ms-input-placeholder {
    line-height: 3.46667vw;
    font-size: 3.46667vw;
  }
  ::placeholder {
    line-height: 3.46667vw;
    font-size: 3.46667vw;
  }
}
/*# sourceMappingURL=App.css.map */